.image-container {
  background-image: url('./images/image-product-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image-container img {
  display: none;
}

@media (max-width: 768px) {
  .image-container img {
    display: block;
  }
}
